<a class="profile-pic" href="http://twitter.com/{{screen_name}}">
  <img src="{{pic_url}}" width="48px" height="48px" />
</a>
<a class="username" href="http://twitter.com/{{screen_name}}">{{name}}</a><br />
<a class="timestamp" href="http://twitter.com/{{screen_name}}/status/{{id}}"><time datetime="{{timestamp}}">Less than a minute ago</time></a><br />
{{{text}}}